@media screen and (max-width: 600px) {
  .candidate-assignments{
    display: none !important;
  }

  .candidate-profile{
    width: auto !important;
  }
}

@media screen and (max-width: 768px) {
  .candidate-assignments{
    display: none !important;
  }
  .candidate-profile {
    width: auto !important;
  }
}